<div class="posts-block col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <article class="post hentry">

        <div class="post-content">
            <h3 class="title">AppNextGen Health Care Solutions:</h3>
            <p>

                AppNextGen is a leading healthcare solutions provider with focus on hospitals and health care organizations. We help our clients by the experience gained over working in Health care domain and technology platforms coupled with affordable and innovative any time anywhere solutions.
                AppNextGen solutions allow to keep track of patient history .

            </p>
            <ul class="check-list why">
                <li>Our independent consultant team will analyze issue and offer customized solutions</li>
                <li>Our Project manager and team ensure that exceptional solutions are delivered with faster turn around time.</li>
                <li>AppNextGen health care solutions help to give more personalized care to predict outcomes and improve care for patients.</li>
                <li>We assure Efficiency elimination, Patient safety, Spending Quality time to patients with</li>

            </ul>
            <br>
            <p>
                Contact AppNextGen for all your healthcare development needs.
            </p>

        </div>
    </article>
</div>