<div id="main">
            
            <!-- Main Content start-->
            <div class="content">
               <div class="container">
                  <div class="row">
                     <div class="sidebar col-lg-3 col-md-3 col-sm-4 col-xs-12">

                        <!-- Industry Widget Start -->
                        <div class="widget category">
                           <h3 class="title">Industries</h3>
                           <ul class="category-list slide">
                              <li><a href="#" ui-sref="industries.finance">Finance</a></li>
                              <li><a href="#" ui-sref="industries.healthcare">Healthcare</a></li>
                              <li><a href="#" ui-sref="industries.communications">Communications</a></li>
                              <li><a href="#" ui-sref="industries.educations">Educations</a></li>
                              <li><a href="#" ui-sref="industries.retails">Retails</a></li>
                              <!--<li><a href="#" ui-sref="industries.travels">Infotainment and Telematics</a></li>
                              <li><a href="#" ui-sref="industries.smartcity">Iot and Smart Mobility</a></li>
                              <li><a href="#" ui-sref="industries.wearable">Wearable</a></li>-->

                           </ul>
                        </div>
                        <!-- Category Widget End -->

                     </div>
                     <!-- Sidebar End -->
                     <div class="industriesViewClass" ui-view>
                        <div class="posts-block col-lg-9 col-md-9 col-sm-8 col-xs-12">
                           <article class="post hentry">

                              <div class="post-content">
                                 <h3 class="title">AppNextGen Finance Services:</h3>
                                 <p>
                                    With a core team of experts in financial markets and a reputation for delivering true business value and feature rich technology, AppNextGen continues to focus on innovation and development; ensuring our product road maps are aligned to client requirements and priorities.
                                    AppNextGen has been delivering  Data Management technology to some of the largest banks and financial brokers for many years.

                                 </p>

                                 <p>
                                    Our data management processes are meant to provide a centralized, accurate hub of reference data. Our financial tools are proven to reduce operational risks, cut costs and improve efficiencies when maintaining financial data with a flexible, competitive solution to customization specific to you financial institute.
                                 </p>

                                 <p>
                                    The outsourced development team are experts in helping us create a cutting edge software product  for leading financial institutions who manage standard settlement instruction information.
                                 </p>

                              </div>
                           </article>
                        </div>
                     </div>
                     <!-- Left Section End -->
                  </div>
               </div>
            </div>
            <!-- Main Content end-->
         </div>
