<div id="main">
    
    <!-- Main Content start-->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="posts-block col-lg-9 col-md-8 col-sm-8 col-xs-12">
                    <article>
                        <h3 class="title">Careers</h3>
                        <div class="post-content">
                            <div class="img-content">
                                <img src="img/team/team.jpg" alt="">
                            </div>
                            <p>
                                Be creative. Take risks. Do what’s right. Stay focused on customers. That’s the vision that set AppNextGen apart from the very beginning. We’re a brand with a heart, a culture of family. We value people who lean in, take initiative, and feel empowered.

                                Join us and develop faster and more broadly than at any other point in your career. We take on big challenges, provide support to conquer them, and give everyone the chance to shape the future of the company.

                            </p>
                            <p>
                                Are you ready for a Bright career move?
                            </p>
                        </div>
                    </article>
                </div>
                <!-- Left Section End -->
                <!-- Skill Section Start -->
                <div class="choice col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h3 class="title">Our Cultures</h3>
                    <ul class="check-list why">
                        <li>Creative</li>
                        <li>Innovative</li>
                        <li>Flexible</li>
                        <li>True Agile</li>
                        <li>Love with your work</li>
                    </ul>
                </div>
                <!-- Skill Section Start -->
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <!-- 3 Column Big Services -->
    <div class="services-big">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="title">Current Jobs</h3>
                </div>
                <div class="clearfix"></div>
                <p>No current job openings.</p>
              <!--  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="content-box">
                        <div class="content-box-icon">
                            <img src="img/portfolio/portfolio-6.jpg" alt=" "/>
                        </div>
                        <div class="content-box-info">
                            <h4>Mobile Application Development</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of Lorem the printing and typesettings. Lorem Ipsum is simply dummy text of Lorem the printing and typesettings.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="content-box">
                        <div class="content-box-icon">
                            <img src="img/portfolio/portfolio-3.jpg" alt=" "/>
                        </div>
                        <div class="content-box-info">
                            <h4>Responsive Web Application Development</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of Lorem the printing and typesettings. Lorem Ipsum is simply dummy text of Lorem the printing and typesettings.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="content-box">
                        <div class="content-box-icon">
                            <img src="img/portfolio/portfolio-7.jpg" alt=" "/>
                        </div>
                        <div class="content-box-info">
                            <h4>Product Development</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of Lorem the printing and typesettings. Lorem Ipsum is simply dummy text of Lorem the printing and typesettings.
                            </p>
                        </div>
                    </div>
                </div>-->
                <!-- 3 Column Services End-->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>


    <div class="divider"></div>
    <!--<div class="service-reasons">
        <div class="bg-overlay">
           <div class="container">
              <div class="row">
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="title">Three Reasons to Work with Us</h3>
                 </div>
                 <div class="divider"></div>
                 <div class="reasons">
                    <div class="col-lg-4 col-md-4 col-sm-4 animate_afc d1">
                           <div class="content-box big ch-item bottom-pad-small">
                              <div class="ch-info-wrap">
                                 <div class="ch-info">
                                    <div class="ch-info-front ch-img-1"><i class="fa fa-rocket"></i></div>
                                    <div class="ch-info-back">
                                       <i class="fa fa-rocket"></i>
                                    </div>
                                 </div>
                              </div>
                              <div class="content-box-info">
                                 <h3>Professional Quality</h3>
                                 <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                 </p>
                                 <a href="#">Read More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                              </div>
                           </div>
                        </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 animate_afc d2">
                           <div class="content-box big ch-item bottom-pad-small">
                              <div class="ch-info-wrap">
                                 <div class="ch-info">
                                    <div class="ch-info-front ch-img-1"><i class="fa fa-code"></i></div>
                                    <div class="ch-info-back">
                                       <i class="fa fa-code"></i>
                                    </div>
                                 </div>
                              </div>
                              <div class="content-box-info">
                                 <h3>Perfect Implementation</h3>
                                 <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                 </p>
                                 <a href="#">Read More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                              </div>
                           </div>
                        </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 animate_afc d3">
                           <div class="content-box big ch-item">
                              <div class="ch-info-wrap">
                                 <div class="ch-info">
                                    <div class="ch-info-front ch-img-1"><i class="fa fa-check"></i></div>
                                    <div class="ch-info-back">
                                       <i class="fa fa-check"></i>
                                    </div>
                                 </div>
                              </div>
                              <div class="content-box-info">
                                 <h3>On Time Delivery</h3>
                                 <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                 </p>
                                 <a href="#">Read More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                              </div>
                           </div>
                        </div>
                 </div>
              </div>
           </div>
        </div>
    </div>-->
    <!-- Main Content end-->
</div>
