<div id="main">
    <!-- Title, Breadcrumb Start-->
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">AppNextGen Offerings</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>You are here:</li>
                            <li><a href="#" ui-sref="home">Home</a></li>
                            <li><a href="#" ui-sref="ourofferings">Offerings</a></li>
                            <li>Cloud Computing</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Title, Breadcrumb End-->
    <!-- Main Content start-->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="posts-block col-lg-9 col-md-8 col-sm-8 col-xs-12">
                    <article>
                        <h3 class="title">Cloud Computing Development</h3>
                        <div class="post-content">
                            <div class="img-content">
                                <img src="img/offerings/cloudcomputing.jpg" alt="">
                            </div>
                            <p>AppNextGen provides consulting, migration, development, and integration services to make the transition from on-premise IT infrastructure to cloud-based solutions smooth. As consultation and implementation partner, we can assist you with a well-thought-out strategy to eliminate risks.
                                It is necessary to determine your specific goals and then take the plunge, for not all benefits are realized in every use case. </p>
                            <div>
                                <b>Receive Expert Advice for:</b>
                                <p>Cloud Strategy, Cloud Migration, and Cloud Integrations</p><br><br><br>
                                <p>We support our customers by outlining the end-to-end solution moving from desktop/client application to the cloud based application.
                                    <br>
                                <ul>
                                    <li>Computing Infrastructure Strategy (IaaS)</li>
                                    <li>Applications Platform Strategy (PaaS)</li>
                                    <li>Solution Portfolio Management Strate gy (SaaS)</li>
                                </ul>

                            </div>
                            <p>
                                Develop a step by step strategy for your IT infrastructure to move to the cloud. This includes moving application servers, database servers, mail servers, and backup servers.
                                We can migrate eCommerce systems, websites, and customer portals from dedicated hosting providers to the public cloud.
                            </p>
                            <p>
                                AppNextGen has built an extensive set of mobile applications for both enterprise and small businesses. We continue to deliver robust mobile applications to our clients with cloud as the back-end platform.
                            </p>
                            <p>
                                For cloud applications to offer maximum value to their users, they need to provide a simple mechanism to import or load external data, export or replicate their data for reporting or analysis purposes, and keep their data synchronized with on-premise applications. We extend support to businesses to integrate on-premise applications with cloud-based ones.
                            </p>
                        </div>
                    </article>
                </div>
                <!-- Left Section End -->
                <!-- Skill Section Start -->
                <div class="choice col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h3 class="title">Our Expertise</h3>
                    <ul class="check-list why">
                        <li>Software as a service development</li>
                        <li>Platform as a service development</li>
                        <li>Infrastructure as a service development</li>
                        <li>Backend as a service development</li>
                        <li>Public/Private/Hybrid Cloud</li>
                    </ul>
                </div>
                <!-- Skill Section Start -->
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <!-- 3 Column Big Services -->
</div>
