<div id="main">
   <!-- Title, Breadcrumb Start-->
   <div class="breadcrumb-wrapper">
      <div class="container">
         <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
               <h2 class="title">AppNextGen Offerings</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
               <div class="breadcrumbs pull-right">
                  <ul>
                     <li>You are here:</li>
                     <li><a href="#" ui-sref="home">Home</a></li>
                     <li><a href="#" ui-sref="ourofferings">Offerings</a></li>
                     <li>Software Development</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Title, Breadcrumb End-->
   <!-- Main Content start-->
   <div class="content">
      <div class="container">
         <div class="row">
            <div class="posts-block col-lg-9 col-md-8 col-sm-8 col-xs-12">
               <article>
                  <h3 class="title">Software Development</h3>
                  <div class="post-content">
                     <div class="img-content">
                        <img src="img/offerings/offerings.jpg" alt="" style="height:350px;">
                     </div>
                     <p>
                        AppNextGen possesses several years of experience in developing great custom software for clients in USA, India. We take the time to uncover your needs so we can deliver the best possible end-product. We have the technical, business and project management expertise needed to execute projects. That means we can hit the ground running and guide you to the perfect custom software solution!
                     </p>
                     <p>
                        Are you looking to improve efficiency and save costs by automating time-consuming manual processes? Perhaps you need to launch new products into the marketplace, or you want to increase market share and be more competitive. You may also want to enhance current software to improve business performance; unify disconnected systems, and improve interaction and collaboration between departments. Whatever your interest in custom software development, AppNextGen is there to guide and help .
                     </p>
                     <p>
                        Working in close partnership with you, our software development services include new application development, upgrade of legacy systems and project recovery. To ensure business continuity and changing future requirements, we provide flexible support agreements, maintenance, enhancement, and systems integration of your custom applications.
                     </p>
                     <p>Microsoft  Certified with over several years’ experience in software development, and providing real-world expertise in software built in .NET and Java, AppNextGen has been assisting progressive companies to deliver innovation within their organization. This is attested by our clients that span various vertical industries and include GAP, Citron, Bestica to name a few.</p>
                  </div>
               </article>
            </div>
            <!-- Left Section End -->
            <!-- Skill Section Start -->
            <div class="choice col-lg-3 col-md-4 col-sm-4 col-xs-12">
               <h3 class="title">Our Expertise are in</h3>
               <ul class="check-list why">
                  <li>API Development</li>
                  <li>NodeJS application Development</li>
                  <li>Web app development</li>
                  <li>No Sql development</li>
                  <li>Java application Development</li>
                  <li>.Net application Development</li>
                  <li>PHP Development</li>
                  <li>Objective C application Development</li>

               </ul>
            </div>
            <!-- Skill Section Start -->
         </div>
      </div>
   </div>
   <div class="divider"></div>
   <!-- 3 Column Big Services -->
</div>
