<div id="main">
    <!-- Title, Breadcrumb Start-->
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">AppNextGen Offerings</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>You are here:</li>
                            <li><a href="#" ui-sref="home">Home</a></li>
                            <li><a href="#" ui-sref="ourofferings">Offerings</a></li>
                            <li>Database</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Title, Breadcrumb End-->
    <!-- Main Content start-->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="posts-block col-lg-9 col-md-8 col-sm-8 col-xs-12">
                    <article>
                        <h3 class="title">Database Development</h3>
                        <div class="post-content">
                            <div class="img-content">
                                <img src="img/offerings/bigdata.jpg" alt="">
                            </div>
                            <p>
                                <b>Big Data Processing</b>
                            </p>
                            <p>Our Big Data services are focused on providing a wholesome solution to business   problems using the right set of tools.We build scalable systems that can Store, Process, Visualize, and Predict in near real-time.</p>
                            <p>
                                <b>We provide the services</b>
                            </p>
                            <p>
                                <ul>
                                <li>
                                    Port data from relational databases onto NoSQL systems
                                </li>
                            <li>
                                Build efficient read-write in-memory solutions
                            </li>
                            <li>
                                Create visualizations of data stored on relational or non-relational systems using tools such as Tableau
                            </li>
                            <li>
                                Perform social media sentiment analysis
                            </li>
                                </ul>
                            </p>

                        </div>
                    </article>
                </div>
                <!-- Left Section End -->
                <!-- Skill Section Start -->
                <div class="choice col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h3 class="title">Big Data Expertise</h3>
                    <ul class="check-list why">
                        <li>Hadoop</li>
                        <li>Mongo DB</li>
                        <li>Cassandra</li>
                        <li>Couch DB</li>
                        <li>Oriented DB</li>
                    </ul>
                </div>
                <!-- Skill Section Start -->
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <!-- 3 Column Big Services -->
</div>
