<div id="main">
    <!-- Title, Breadcrumb Start-->
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">AppNextGen Offerings</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>You are here:</li>
                            <li><a href="#" ui-sref="home">Home</a></li>
                            <li><a href="#" ui-sref="ourofferings">Offerings</a></li>
                            <li>Bussiness Intelligence and Analytics</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Title, Breadcrumb End-->
    <!-- Main Content start-->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="posts-block col-lg-9 col-md-8 col-sm-8 col-xs-12">
                    <article>
                        <h3 class="title">Bussiness intelligence and Analytics</h3>
                        <div class="post-content">
                            <div class="img-content">
                                <img src="img/offerings/analytics.jpg" alt="">
                            </div>
                            <p>
                                Be creative. Take risks. Do what’s right. Stay focused on customers. That’s the vision that set AppNextGen apart from the very beginning. We’re a brand with a heart, a culture of family. We value people who lean in, take initiative, and feel empowered.

                                Our employees embody the words of our founder Jass Singh, “Do What You Love.” Employees love what they do and are excited to help AppNextGeN continue to grow.

                            </p>
                            <p>
                                Are you ready for a Bright career move?
                            </p>
                        </div>
                    </article>
                </div>
                <!-- Left Section End -->
                <!-- Skill Section Start -->
                <div class="choice col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h3 class="title">Our Expertise</h3>
                    <ul class="check-list why">
                        <li>IBM Cognose Bussiness Intelligence</li>
                        <li>Salesforce</li>
                        <li>Sharepoint</li>
                        <li>SAP BI</li>
                        <li>Tableau</li>
                    </ul>
                </div>
                <!-- Skill Section Start -->
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <!-- 3 Column Big Services -->
</div>
