<div id="main">
    <!-- Title, Breadcrumb Start-->
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">AppNextGen Offerings</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>You are here:</li>
                            <li><a href="#" ui-sref="home">Home</a></li>
                            <li><a href="#" ui-sref="ourofferings">Offerings</a></li>
                            <li>Consultings</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Title, Breadcrumb End-->
    <!-- Main Content start-->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="posts-block col-lg-9 col-md-8 col-sm-8 col-xs-12">
                    <article>
                        <h3 class="title">Consultings</h3>
                        <div class="post-content">
                            <div class="img-content">
                                <img src="img/team/team.jpg" alt="">
                            </div>
                            <p>
                                AppNextGen’s consulting services range from business consulting, to technical advisory services, to delivery services and specialized training programs. All supported by best practice tools, processes and methodologies. Our main goal is to help you overcome business challenges,improve operational efficiency and deliver business growth . Are you experiencing an of the following challenges ? If answer to any is “yes”, don’t look beyond AppNextGen can benefit you with expert advice and assistance?

                            </p>
                            <br><br>
                            <ul>
                                <li>Dealing with rapid business growth</li>
                                <li>Expanding into global markets</li>
                                <li>Improving financial results</li>
                                <li>Coping with IT issues due to mergers and acquisitions</li>
                                <li>Driving new or changed business strategy</li>
                                <li>Driving innovation (such as cloud applications, Big-data, Test-Driven development)</li>
                                <li>Implementing strategic IT planning</li>
                                <li>Increasing productivity</li>
                                <li>Complying with changing regulations</li>
                                <li>Business continuity planning</li>
                                <li>Securing data</li>
                            </ul>
                            <p>If you’re looking for IT consultants that evaluate your software technology challenges at a business level rather than at an IT level, AppNextGen can help. We are a technology consulting company that provides you with a full range of solutions. The solutions provided by us are dependable, scalable, and are customized as per your needs. Our consultants are highly professional. We possess a range of skills including Business Analysis,Project Management, Software Auditing and Systems Architecture and have successfully completed many projects locally and internationally.</p>
                            <p>We can also provide a third party opinion on your software design to ensure you have taken into account all aspects of the solution. This can also provide team confidence in the solution building stage.</p>
                        </div>
                    </article>
                </div>
                <!-- Left Section End -->
                <!-- Skill Section Start -->
                <div class="choice col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h3 class="title">Our Expertise</h3>
                    <ul class="check-list why">
                        <li>Project Consulting</li>
                        <li>Project and Product development</li>
                        <li>Trainings</li>
                        <li>Resource Hiring for companies</li>

                    </ul>
                </div>
                <!-- Skill Section Start -->
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <!-- 3 Column Big Services -->
</div>
