<div id="main">
    <!-- Title, Breadcrumb Start-->
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">AppNextGen Offerings</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>You are here:</li>
                            <li><a href="#" ui-sref="home">Home</a></li>
                            <li><a href="#" ui-sref="ourofferings">Offerings</a></li>
                            <li>Infotainment and Telematics</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Title, Breadcrumb End-->
    <!-- Main Content start-->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="posts-block col-lg-9 col-md-8 col-sm-8 col-xs-12">
                    <article>
                        <h3 class="title">Infotainment and Telematics</h3>
                        <div class="post-content">
                            <div class="img-content">
                                <img src="img/offerings/telematics-infotainment.jpg" alt="">
                            </div>
                            <p><b>AppNextGen</b> telematics and infotainment team offers a wide-ranging approach to car connectivity, providing solutions ranging from telematics to smart device connectivity to car’s integration into the Internet of Things (IoT). We can help find the right solution and provide support at every stage of implementation, including concept design, embedded software development.
                            <p>We help to build the software’s for smart devices with a car, which includes implementation of Apple CarPlay, Android Auto, SmartDeviceLInk, MirrorLink and Miracast. AppNextGen identify and build the infotainment and telematics software’s using Html5, Kanzi, IOS, Android, QT,QNX.</p>

                        </div>
                    </article>
                </div>
                <!-- Left Section End -->
                <!-- Skill Section Start -->
                <div class="choice col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h3 class="title">Our Expertise</h3>
                    <ul class="check-list why">
                        <li>Application development using QT</li>
                        <li>Application development using HTML5</li>
                        <li>Testing</li>
                        <li>Data Analytics</li>
                        <li>3D/2D development using Kanzi</li>
                    </ul>
                </div>
                <!-- Skill Section Start -->
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <!-- 3 Column Big Services -->
</div>
