<div id="main">
   <!-- Title, Breadcrumb Start-->
   <div class="breadcrumb-wrapper">
      <div class="container">
         <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
               <h2 class="title">AppNextGen Offerings</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
               <div class="breadcrumbs pull-right">
                  <ul>
                     <li>You are here:</li>
                     <li><a href="#" ui-sref="home">Home</a></li>
                     <li><a href="#" ui-sref="ourofferings">Offerings</a></li>
                     <li>moblie Application Development</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Title, Breadcrumb End-->
   <!-- Main Content start-->
   <div class="content">
      <div class="container">
         <div class="row">
            <div class="posts-block col-lg-9 col-md-8 col-sm-8 col-xs-12">
               <article>
                  <h3 class="title">Mobile Application Development</h3>
                  <div class="post-content">
                     <div class="img-content">
                        <img src="img/offerings/mobiledevelopment.jpg" style="width:400px;height:400px;" alt="">
                     </div>
                     <p>
                        AppNextGen extensive experience and portfolio makes us the ideal company to take on the crucial development stage of your project. Our team are multi-platform experts, meaning we can offer our services across the iOS, Andriod, Windows, Websites and now Cloud and Big-Data applications.

                     </p>
                  </div>
               </article>
            </div>
            <!-- Left Section End -->
            <!-- Skill Section Start -->
            <div class="choice col-lg-3 col-md-4 col-sm-4 col-xs-12">
               <h3 class="title">Mobile Expertises </h3>
               <ul class="check-list why">
                  <li>Native Development</li>
                  <li>Hybrid Development</li>
                  <li>Mobile Web Development</li>
                  <li>Monitizing Apps</li>
                  <li>Infotaintment and Telematics App Development</li>
               </ul>
            </div>
            <!-- Skill Section Start -->
         </div>
      </div>
   </div>
   <div class="divider"></div>
   <div class="main-content">
      <div class="container">
         <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
               <div class="content-box big ch-item bottom-pad-small">
                  <div class="ch-info-wrap">
                     <div class="ch-info">
                        <div class="ch-info-front ch-img-1"><i class="fa fa-mobile-phone"></i></div>
                        <div class="ch-info-back">
                           <i class="fa fa-mobile-phone"></i>
                        </div>
                     </div>
                  </div>
                  <div class="content-box-info">
                     <h3>IOS Development</h3>
                     <p>
                        AppNextGen is a reliable and cost-effective that offers you a wide range of iOS apps development services. With a team of qualified iOS app developers AppNextGen brings a broad range of iOS applications that makes us a well-known player in the mobile market. With both interactive and innovative approach we always focus on long term value of our customer’s investments.
                     </p>

                        We specialize in developing iPhone,iPad,iPod apps development. If you are looking especially for iOS Apps or searching for service providers to customize your iPhone apps into iPad, contact us with your queries and we are ready to serve you the best.


                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
               <div class="content-box big ch-item bottom-pad-small">
                  <div class="ch-info-wrap">
                     <div class="ch-info">
                        <div class="ch-info-front ch-img-1"><i class="fa fa-android"></i></div>
                        <div class="ch-info-back">
                           <i class="fa fa-android"></i>
                        </div>
                     </div>
                  </div>
                  <div class="content-box-info">
                     <h3>Android Development</h3>
                     <p>
                        AppNextGen is a trustworthy android apps development company based in Silicon Valley and offer you reliable and professional android apps development services to cater the diverse needs of the clients globally. To reach the level of client’s expectations we design, develop, analyze, upgrade and support the android apps with great utility and outstanding performance. Our dedicated and expert team of android apps development is well-aware of the android platform and knows all the tit bits about this particular platform. In addition, our customized android apps development services ranges from asset tracking to messaging, gaming on GPS systems and lot more.
                     </p>

                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
               <div class="content-box big ch-item">
                  <div class="ch-info-wrap">
                     <div class="ch-info">
                        <div class="ch-info-front ch-img-1"><i class="fa fa-windows"></i></div>
                        <div class="ch-info-back">
                           <i class="fa fa-windows"></i>
                        </div>
                     </div>
                  </div>
                  <div class="content-box-info">
                     <h3>Windows Development</h3>
                     <p>
                        AppNextGen is one of the early adopters of smart phone applications for windows app development and is helping their clients leverage the platform for addressing different business challenges. We have also developed various consumer centric Windows phone applications as this platform has shifted to more advanced versions of Windows.
                     </p>

                         Windows app development team at AppNextGen make use of the Windows specific features like  Windows 8 UI, Custom Notifications and the custom components to meet the requirements of the particular application. Our app developers are experts in designing and developing advanced, Windows Phone app.

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="divider"></div>
   <div class="main-content">
      <div class="container">
         <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
               <div class="content-box big ch-item bottom-pad-small">
                  <div class="ch-info-wrap">
                     <div class="ch-info">
                        <div class="ch-info-front ch-img-1"><i class="fa fa-html5"></i></div>
                        <div class="ch-info-back">
                           <i class="fa fa-html5"></i>
                        </div>
                     </div>
                  </div>
                  <div class="content-box-info">
                     <h3>Hybrid Development</h3>
                     <p>
                        Hybrid apps may be the norm, not the exception, within a few years as companies try to cut the cost of app deployment across multiple platforms. The challenge of building an app with the right mix of features, performance and platform support at an affordable cost requires firms to decide between whether to build a native, web and hybrid app. Each approach - coding an app in a platform's native programming language, building a web app or a mix between the two, a hybrid app development provide several advantages
                     </p>
                     <p>
                        Hybrid apps are designed to combine the advantages of native and web app development. They are apps that are written in web ‘languages' – HTML, Javascript and CSS – but that use wrappers of native code.

                     </p>

                     <a href="javascript:void(0);" data-toggle="modal" data-target="#myModal">Read More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>

                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
               <div class="content-box big ch-item bottom-pad-small">
                  <div class="ch-info-wrap">
                     <div class="ch-info">
                        <div class="ch-info-front ch-img-1"><i class="fa fa-eye"></i></div>
                        <div class="ch-info-back">
                           <i class="fa fa-eye"></i>
                        </div>
                     </div>
                  </div>
                  <div class="content-box-info">
                     <h3>Quality Assurance/Testing</h3>
                     <p>
                        Faster time to market. Tighter budgets. Businesses are faced with a lot of constraints today. But when it comes to testing, there is no room for error.  Now you can have a flexible partner that can meet your business needs and deliver the quality your end-users expect.
                     </p>
                     <p>
                        AppNextGen’s Quality Assurance and Testing Services (QATS) helps businesses around the world reduce the time and effort in testing. Our core focus is on Industry Domain and Technology based testing. From HP, IMB to Microsoft – our expertise spans various testing tools and industries.AppNextGen offer front-end Quality Assurance testing services for mobile and web and desktop applications.
                        Our core-competencies involve testing in several phases Compatibility Testing, Usability Testing..
                     </p>
                     <a href="javascript:void(0);" data-toggle="modal" data-target="#qualityModal">Read More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
               <div class="content-box big ch-item">
                  <div class="ch-info-wrap">
                     <div class="ch-info">
                        <div class="ch-info-front ch-img-1"><i class="fa fa-cloud-upload"></i></div>
                        <div class="ch-info-back">
                           <i class="fa fa-cloud-upload"></i>
                        </div>
                     </div>
                  </div>
                  <div class="content-box-info">
                     <h3>Publishing</h3>
                     <p>
                        Once an app is built and tested, for optimum distribution it should be listed in the native platform’s App Store.We provides the services to our customers for publishing their mobile apps into the various app stores such as apple store, google play store, windows store etc. Our dedicated publishing team monitors the published app for rating, app health etc and recommend the customer if any appropriate action is required for the apps to be able to generate more revenue.
                     </p>
                     <p>
                        Our team can help submit your app to the app stores and work with the vendor through the approval process.Once your app is listed and ready for the world to enjoy, we provide detailed strategies about launching and promoting your brand.
                     </p>
                     <a href="javascript:void(0);" data-toggle="modal" data-target="#publishingModal">Read More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Modal HTML -->
   <div id="myModal" class="modal fade" style="margin-top: 100px;">
      <div class="modal-dialog modal-lg">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Hybrid Development</h4>
            </div>
            <div class="modal-body">
               <p>
                  Hybrid apps are designed to combine the advantages of native and web app development. They are apps that are written in web ‘languages' – HTML, Javascript and CSS – but that use wrappers of native code. These wrappers can provide various enhancements that are normally restricted to native apps, such as a UI with the look of a native app, better performance than pure web apps or access to device features such as GPS or camera.
               </p>
               <p>
                  Experts at AppNextGen allow you proficient Hybrid apps complementing your evolved cross-platform needs.Through our effective learning instruments and deployment processes we have managed to characterize highly proficient framework for Hybrid app development in our production facility.We deliver solutions based on web technologies like HTML5, CSS3, jQuery, ,Nodejs, Angularjs, Ionic,PhoneGap,Cordova,Appframework,Native react and other related technologies. With our Hybrid mobile app solutions you can seamlessly and consistently run a single app on latest mobile environments across different categories like iPhone, Android, BlackBerry, Windows and tablets.
               </p>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
         </div>
      </div>
   </div>
   <div id="qualityModal" class="modal fade" style="margin-top: 100px;">
      <div class="modal-dialog modal-lg">
         <div class="modal-content">
            <div class="modal-header">

               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Quality Assurance and Testing Services</h4>

            </div>
            <div class="modal-body">
               <p>
                  Faster time to market. Tighter budgets. Businesses are faced with a lot of constraints today. But when it comes to testing, there is no room for error.  Now you can have a flexible partner that can meet your business needs and deliver the quality your end-users expect.
               </p>
               <p>
                  AppNextGen’s Quality Assurance and Testing Services (QATS) helps businesses around the world reduce the time and effort in testing. Our core focus is on Industry Domain and Technology based testing. From HP, IMB to Microsoft – our expertise spans various testing tools and industries.AppNextGen offer front-end Quality Assurance testing services for mobile and web and desktop applications.
               </p>
               <p>
                  Our core-competencies involve testing in several phases Compatibility Testing, Usability Testing
                  <br>Functionality Testing and Quality Assurance which include services in the following arenas.
               </p>
                  <ul>
                  <li>
                     Software Quality Excellence
                  </li>
               <li>
                  Strategic Test Consulting and Strategy
               </li>
               <li>
                  Performance and Automation Engineering
               </li>
               <li>
                  Ready-to-use innovative Test Solutions and Frameworks
               </li>
               <li>
                  Dedicated Testing Centers of Excellence  with proven test processes, strategies and governance models
               </li>
               <li>
                  Specialized Testing Services in emerging areas such as Mobile, Business Intelligence, and Agile
               </li>

                  </ul>
               <p>
                  Whether it’s hands-on device testing, mobile emulators, or native device tracking, AppNextGen has the expertise to help. AppNextGen’s mobile approach lends definition and organization to key mobile SDLC processes and procedures to help your company meet critical development and release milestones.  Following are a few recommended questions to consider from the AppNextGen team to help you define and test unique mobile requirements.
               </p>

            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
         </div>
      </div>
   </div>
   <div id="publishingModal" class="modal fade" style="margin-top: 100px;">
      <div class="modal-dialog modal-lg">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Publishing</h4>
            </div>
            <div class="modal-body">
               <p>
                  Once an app is built and tested, for optimum distribution it should be listed in the native platform’s App Store.We provides the services to our customers for publishing their mobile apps into the various app stores such as apple store, google play store, windows store etc. Our dedicated publishing team monitors the published app for rating, app health etc and recommend the customer if any appropriate action is required for the apps to be able to generate more revenue.

               </p>
               <p>
                  Our team can help submit your app to the app stores and work with the vendor through the approval process.Once your app is listed and ready for the world to enjoy, we provide detailed strategies about launching and promoting your brand.
                  Here are the services we offer in publishing area : Complete web branding, Social Media promotion, Industry specific blogs and forum based awareness, Videos, Press Releases and much more!
               </p>
               <p>
                  AppNextGen has extensive experience in not just  mobile application publishing ,  but we also provide extensive insight into  monitoring the app health using Crashlytics, Splunk, Crittercism, AppDynamics etc
               </p>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
         </div>
      </div>
   </div>
</div>
