<div id="main">
    <!-- Title, Breadcrumb Start-->
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">AppNextGen Offerings</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>You are here:</li>
                            <li><a href="#" ui-sref="home">Home</a></li>
                            <li><a href="#" ui-sref="ourofferings">Offerings</a></li>
                            <li>Product Engineering</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Title, Breadcrumb End-->
    <!-- Main Content start-->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="posts-block col-lg-12 col-md-8 col-sm-8 col-xs-12">
                    <article>
                        <h3 class="title">Product Engineering</h3>
                        <div class="post-content">
                            <div class="img-content">
                                <img src="img/offerings/productdevelopment.png" alt="" style="width:400px;height:400px;">
                            </div>
                            <p>
                                AppNextGen has developed a proven process over its tenure and applies this method to all projects. Our model combination of skills and experience enables us to provide our clients with the best possible product whilst avoiding the costly mistakes so common in this industry.
                                ANG use agile methodology to ensure projects are kept on-schedule and on-budget. What's more, we keep our clients involved every step of the way with regular test builds and feedback.
                                The average time frame to develop a product, from consultancy to submission, can range from just 6 to 12 months based on the product software requirements.
                            </p>

                            <p>Get in touch to discuss our process and offerings in more detail.</p>
                        </div>
                    </article>

                </div>
                <!-- Left Section End -->

            </div>
        </div>
    </div>
    <div class="divider"></div>
    <!-- 3 Column Big Services -->
</div>
