 <div id="main">
            
            <!-- Main Content start-->
            <div class="content">
               <div class="container">
                  <div class="row">
                     <div class="posts-block col-lg-9 col-md-8 col-sm-8 col-xs-12">
                        <article>
                           <h3 class="title">Overview</h3>
                           <div class="post-content">
                              <div class="img-content">
                                 <img src="img/offerings/softwaredevelopment.jpg" alt="">
                              </div>
                              <p>
                                 If your need is for a unique control system, tailored business application, or suite of components that work together to become your own software “package”, then get in touch. We work alongside our clients throughout the development life-cycle, aligning processes, disparate technologies, and software platforms, to produce a precisely tailored solution.
                              </p>
                              <p>
                                 AppNextGen has robust experience across a wide variety of project types. We’re at home with:
                              </p>
                              <p>
                                 <b>
                                    Web application development including website designs, UI/UX designs:
                                 </b>
                                 Our websites are more than just pretty, they are content management system driven and they are built to help you interact with your customers.
                              </p>
                              <p>
                                 <b>
                                    Mobile development in all the platforms:
                                 </b>
                                 We believe that the finest approach is to have the "Blueprint" of your requirements. Based on that, our mobile app developer will exhibit their artistic inclination and bring the perfect piece of design under one roof! With the right objective of the mobile app, our app designers not only beautify your app but also impart a great "User Experience" at the supreme level!
                              </p>
                              <p>
                                 <b>
                                    Big-Data , Business Intelligence and Analytics Solutions:
                                 </b>
                                 AppNextGen transforms both "Big and Little" Data into high impact business insights through advanced analytics visualization and decision consulting that enables our clients to drive these key levers efficiently and effectively.
                                 We partner with clients across the decision data value range commencing from data management and portray decision data marts to providing visualization and modeling solutions. We empower clients to leverage analytics & big data insights for better business outcomes through our Decision Consulting services and Technology model.
                              </p>

                              <p>
                                 <b>
                                    Client-server development, Database system development , Custom Software Development and Cloud based software solutions:
                                 </b>
                                 We have deep knowledge and capability in the area of Enterprise Architecture, Solution Architecture and Solution Design. Our team leads the industry in the development of high quality Enterprise Architectures, Solution Architectures and Solution Designs. Using industry standard frameworks and our own world class methodologies we can develop solutions and help your team develop solutions using a range of modern IT platforms.
                                 We develop unique customized bespoke software applications to resolve your business needs.

                              </p>
                              <p>
                                 <b>
                                    Support and Maintenance:
                                 </b>
                                 We also offer a project rescue service: if you have an existing project which is failing, we can often take over the code, and turn the project around.
                              </p>
                           </div>
                        </article>
                     </div>
                     <!-- Left Section End -->
                     <!-- Skill Section Start -->
                     <div class="choice col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h3 class="title">Our Approaches</h3>
                        <ul class="check-list why">
                           <li>Software  Development throughout its entire lifecycle</li>
                           <li>Client in house development</li>
                           <li>Research and Development around the idea of the product</li>
                           <li>Quality Assurance and Testing of the product built</li>
                           <li>Support the Development, Maintenance</li>

                        </ul>
                     </div>
                     <!-- Skill Section Start -->
                  </div>
               </div>
            </div>
            <div class="divider"></div>
            <!-- 3 Column Big Services -->
            <div class="services-big">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h3 class="title">Our Services</h3>
                     </div>
                     <div class="clearfix"></div>
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="content-box">
                           <div class="content-box-icon">
                              <img src="img/offerings/mobiledevelopment.jpg" alt=" "/>
                           </div>
                           <div class="content-box-info">
                              <h4>Mobile Application Development</h4>
                              <p>
                                 AppNextGen's extensive experience and portfolio makes us the ideal company to take on the crucial development stage of your project. Our team are multi-platform experts, meaning we can offer our services across the iOS, Andriod, Windows, Websites and now Cloud and Big-Data applications.
                              </p>
                              <p>
                                 <a href="#" ui-sref="mobappdevelopment">Read More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="content-box">
                           <div class="content-box-icon">
                              <img src="img/offerings/offerings.jpg" alt=" "/>
                           </div>
                           <div class="content-box-info">
                              <h4>Software Development</h4>
                              <p>
                                 AppnextGen’s extensive experience dates back to being a software development company over a year ago so you can be safe in the knowledge your software development (experience in various technologies such as Java,.Net,Python,JavaScript,C++,Ruby etc) is in expert hands.
                              </p>
                              <p>
                                 <a href="#" ui-sref="softwareDevelopment">Read More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="content-box">
                           <div class="content-box-icon">
                              <img src="img/offerings/productdevelopment.png" alt=" "/>
                           </div>
                           <div class="content-box-info">
                              <h4>Product Development</h4>
                              <p>
                                 AppNextGen has developed a proven process over its tenure and applies this method to all projects. Our model combination of skills and experience enables us to provide our clients with the best possible product whilst avoiding the costly mistakes so common in this industry.
                              </p>
                              <p>
                                 <a href="#" ui-sref="productEngineering">Read More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                              </p>
                           </div>
                        </div>
                     </div>
                     <!-- 3 Column Services End-->
                     <div class="clearfix"></div>
                  </div>
               </div>
            </div>

            <div class="divider"></div>
            <!-- 3 Column Services -->
            <div class="services">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h3 class="title">More Services</h3>
                     </div>
                     <div class="clearfix"></div>
                     <div class="col-lg-4 col-md-4 col-sm-4 bottom-pad">
                        <div class="content-box ch-item">
                           <div class="ch-info-wrap">
                              <div class="ch-info">
                                 <div class="ch-info-front ch-img-1"><i class="fa fa-hand-o-right"></i></div>
                                 <div class="ch-info-back">
                                    <i class="fa fa-hand-o-right"></i>
                                 </div>
                              </div>
                           </div>
                           <div class="content-box-info">

                              <h4>Consulting</h4>
                              <p>
                                 AppNextGen endeavors to provide you with full support and guidance from the beginning. Our Pre-Development Workshop and Proof of Concept ensures you have a full technical report and the best possible advice about how to best get your project off the ground.
                              </p>
                                 <p>
                                    <a href="#" ui-sref="consultings">Read More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                 </p>

                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-4 bottom-pad">
                        <div class="content-box ch-item">
                           <div class="ch-info-wrap">
                              <div class="ch-info">
                                 <div class="ch-info-front ch-img-1"><i class="fa fa-pie-chart"></i></div>
                                 <div class="ch-info-back">
                                    <i class="fa fa-pie-chart"></i>
                                 </div>
                              </div>
                           </div>
                           <div class="content-box-info">
                              <h4>Bossiness Intelligence and Analytics</h4>
                              <p>
                                 AppNextGen transforms both "Big and Little" Data into high impact business insights through advanced analytics visualization and decision consulting that enables our clients to drive these key levers efficiently and effectively.
                              </p>
                              <p>
                                 <a href="#" ui-sref="bussinessIntelligence">Read More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-4 bottom-pad">
                        <div class="content-box ch-item">
                           <div class="ch-info-wrap">
                              <div class="ch-info">
                                 <div class="ch-info-front ch-img-1"><i class="fa fa-edit"></i></div>
                                 <div class="ch-info-back">
                                    <i class="fa fa-edit"></i>
                                 </div>
                              </div>
                           </div>
                           <div class="content-box-info">
                              <h4>UX and UI Design</h4>
                              <p>
                                 Users respond to esthetically pleasing, user-friendly applications. Prior to development, AppNextGen offers a number of bespoke packages from demo applications to full branding and designs, ensuring your app appeals to its target audience and stands out within the crowded app stores.
                              </p>
                              <p>
                                 <a href="#" ui-sref="uxuidesign">Read More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="content-box ch-item">
                           <div class="ch-info-wrap">
                              <div class="ch-info">
                                 <div class="ch-info-front ch-img-1"><i class="fa fa-cloud"></i></div>
                                 <div class="ch-info-back">
                                    <i class="fa fa-cloud"></i>
                                 </div>
                              </div>
                           </div>
                           <div class="content-box-info">
                              <h4>Cloud Computing</h4>
                              <p>
                                 AppNextGen provides consulting, migration, development, and integration services to make the transition from on-premise IT infrastructure to cloud-based solutions smooth.
                              </p>
                              <p>
                                 <a href="#" ui-sref="cloudcomputing">Read More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="content-box ch-item">
                           <div class="ch-info-wrap">
                              <div class="ch-info">
                                 <div class="ch-info-front ch-img-1"><i class="fa fa-database"></i></div>
                                 <div class="ch-info-back">
                                    <i class="fa fa-database"></i>
                                 </div>
                              </div>
                           </div>
                           <div class="content-box-info">
                              <h4>Big Data</h4>
                              <p>
                                 Our Big Data services are focused on providing a wholesome solution to business   problems using the right set of tools.We build scalable systems that can Store, Process, Visualize, and Predict in near real-time.
                              </p>
                              <p>
                                 <a href="#" ui-sref="database">Read More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="content-box ch-item">
                           <div class="ch-info-wrap">
                              <div class="ch-info">
                                 <div class="ch-info-front ch-img-1"><i class="fa fa-car"></i></div>
                                 <div class="ch-info-back">
                                    <i class="fa fa-car"></i>
                                 </div>
                              </div>
                           </div>
                           <div class="content-box-info">
                              <h4>Infotainment and Telematics</h4>

                              <p>AppNextGen telematics and infotainment team offers a wide-ranging approach to car connectivity, providing solutions ranging from telematics to smart device connectivity to car’s integration into the Internet of Things (IoT).</p>

                              <p>
                                 <a href="#" ui-sref="infotainment">Read More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="divider"></div>
            <!--<div class="service-reasons">
            	<div class="bg-overlay">
                   <div class="container">
                      <div class="row">
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3 class="title">Three Reasons to Work with Us</h3>
                         </div>
                         <div class="divider"></div>
                         <div class="reasons">
                            <div class="col-lg-4 col-md-4 col-sm-4 animate_afc d1">
                                   <div class="content-box big ch-item bottom-pad-small">
                                      <div class="ch-info-wrap">
                                         <div class="ch-info">
                                            <div class="ch-info-front ch-img-1"><i class="fa fa-rocket"></i></div>
                                            <div class="ch-info-back">
                                               <i class="fa fa-rocket"></i>
                                            </div>
                                         </div>
                                      </div>
                                      <div class="content-box-info">
                                         <h3>Professional Quality</h3>
                                         <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                         </p>
                                         <a href="#">Read More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                      </div>
                                   </div>
                                </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 animate_afc d2">
                                   <div class="content-box big ch-item bottom-pad-small">
                                      <div class="ch-info-wrap">
                                         <div class="ch-info">
                                            <div class="ch-info-front ch-img-1"><i class="fa fa-code"></i></div>
                                            <div class="ch-info-back">
                                               <i class="fa fa-code"></i>
                                            </div>
                                         </div>
                                      </div>
                                      <div class="content-box-info">
                                         <h3>Perfect Implementation</h3>
                                         <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                         </p>
                                         <a href="#">Read More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                      </div>
                                   </div>
                                </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 animate_afc d3">
                                   <div class="content-box big ch-item">
                                      <div class="ch-info-wrap">
                                         <div class="ch-info">
                                            <div class="ch-info-front ch-img-1"><i class="fa fa-check"></i></div>
                                            <div class="ch-info-back">
                                               <i class="fa fa-check"></i>
                                            </div>
                                         </div>
                                      </div>
                                      <div class="content-box-info">
                                         <h3>On Time Delivery</h3>
                                         <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                         </p>
                                         <a href="#">Read More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                      </div>
                                   </div>
                                </div>
                         </div>
                      </div>
                   </div>
            	</div>
            </div>-->
            <!-- Main Content end-->
         </div>
