<div id="main">
    <!-- Title, Breadcrumb Start-->
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">Offerings</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>You are here:</li>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#" ui-sref="ourofferings">Offerings</a></li>
                            <li>UX/UI</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Title, Breadcrumb End-->
    <!-- Main Content start-->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="posts-block col-lg-9 col-md-8 col-sm-8 col-xs-12">
                    <article>
                        <h3 class="title">UX/UI Design</h3>
                        <div class="post-content">
                            <div class="img-content">
                                <img src="img/offerings/uxui.jpg" alt="">
                            </div>
                            <p>
                                We think of the user first in everything that we do. We consistently speak to our end users about what is most important to them and then design our solution with the user in mind.”  We make sure everyone at AppNextGen is thinking user design and user experience because without the user, we don’t have a company
                            </p>
                            <p>
                                At AppNextGen, we take both user experience and user interface very seriously. Our UI and UX designers are hands on with the interface layout, interface design, interaction design, wire-framing, user testing and quality checking. But it’s not just the designers thinking about design. From the development team to the marketing and sales teams, all have a say in the design of the product, application, website and dashboard
                            </p>
                            <p>
                                One top rated UX/UI designer  stated, "too often over-zealous designs and processes complicate the users perception on the product and that has a dramatic effect on whether a user will consistently use a product. Users are drawn to beautiful things and it’s the designers job to mash function and design together in a beautiful way."
                            </p>
                            <p>
                                User experience (UX) focuses on the end-to-end experience someone has using your site, application or product. AppNextGen’s UX capability focuses on six critical elements: balance; understanding; meeting expectations; desirability; focus and return on investment. It’s all about ensuring you have the right solution for your business delivering the desired outcome. Our consutants can work with your team to develop exciting and engaging user experiences for all your digital channels. Creative User Experience design combined with our enterprise grade delivery capability leads to engaging, but robust IT solutions.
                            </p>

                        </div>
                    </article>
                </div>
                <!-- Left Section End -->
                <!-- Skill Section Start -->
                <div class="choice col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h3 class="title">How we Work</h3>
                    <ul class="check-list why">
                        <li>Research</li>
                        <li>IA & Wireframes</li>
                        <li>User Testings</li>
                        <li>Look and Feel </li>
                        <li>UI development</li>
                        <li>Integration</li>
                    </ul>
                </div>
                <!-- Skill Section Start -->
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <!-- 3 Column Big Services -->
</div>
